.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.login-container::before {
  display: block;
  content: '';
  background: url('../../src/assets/login.jpg') no-repeat center center;
  background-size: cover;
}

.forms-container {
  max-width: 30rem;
  padding: 1rem;
}

@media (max-width: 40rem) {
  .login-container {
    grid-template-columns: 1fr;
  }

  .login-container::before {
    display: none;
  }

  .forms-container {
    max-width: 100%;
  }
}
