.user-photo-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.user-photo-post #id {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

/* faz com que a div tenha o mesmo tamanho do elemento pai */
.preview::after {
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
}
