html {
  --color-one: #463220;
  --color-two: #66593c;
  --color-three: #eceadd;
  --color-four: #f7f8f5;
  --color-five: #ffff;
  /* bentobox */
  --gap-s: 0.625rem;
  --gap: 1.25rem;
}

body {
  margin: 0px;
  color: var(--color-two);
  background-color: var(--color-four);
}

button {
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.box {
  padding: var(--gap);
  border-radius: var(--gap);
  background-color: var(--color-five);
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex > * {
  flex: 1;
}

.mb {
  margin-bottom: var(--gap);
}

.bg-one {
  background-color: var(--color-one);
}

.bg-two {
  background-color: var(--color-two);
}

.bg-three {
  background-color: var(--color-three);
}

.bg-four {
  background-color: var(--color-four);
}

.bg-five {
  background-color: var(--color-five);
}

.container {
  display: grid;
  padding: var(--gap);
  gap: var(--gap);
}
