{
  "ignorePatterns": [
    "dist"
  ],
  "overrides": [
    {
      "files": [
        "**/*.{js,jsx}"
      ],
      "parserOptions": {
        "ecmaVersion": "latest",
        "ecmaFeatures": {
          "jsx": true
        },
        "sourceType": "module"
      },
      "settings": {
        "react": {
          "version": "18.3"
        }
      },
      "plugins": [
        "react",
        "react-hooks",
        "react-refresh"
      ],
      "rules": {
        "react/jsx-no-target-blank": "off",
        "react-refresh/only-export-components": [
          "warn",
          {
            "allowConstantExport": true
          }
        ],
        "no-unused-vars": "warn",
        "react/react-in-jsx-scope": "off",
        "react/jsx-uses-react": "off",
        "react/jsx-uses-vars": "warn",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
      }
    }
  ]
}
