@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,700;0800&display=swap');

* {
  box-sizing: border-box;
  --type-firts: 'Helvetica', Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  --color-yellow-first: #fb1;
  --color-yellow-second: #764701;
  --color-gray-first: #eee;
  --color-red-first: #f31;
}

body {
  padding-top: 4rem;
  margin: 0;
  color: #333;
  font-family: var(--type-firts);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-firts);
  color: #333;
}

.container {
  /*max-width: 50rem; 50 * 16px = 800px */
  max-width: 63rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-yellow-first);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
